@model BrokerMVC.Models.RealEstatePhoto

<div class="panel panel-warning">
    <div class="panel-heading">
        <div class="row">
            <div class="col-md-6 pull-right">
                <h2 class="btn btn-lg">
                    <i class="fa fa-picture-o"></i>
                    @General.Images
                    /@General.CreateNew
                </h2>
            </div>
            <div class="btn-group pull-left">
                <button type="button" class="btn btn-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>


    </div>
    <div class="panel-body">
        @using (Html.BeginForm("AddPhoto", "RealEstates", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.RealEstateID)
                <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
                <div class="form-group">
                    @Html.LabelFor(model => model.PhotoFile, htmlAttributes: new { @class = "control-label col-md-3 pull-right" })
                    <div class="col-md-9">
                        @Html.TextBoxFor(model => model.PhotoFile, new { type = "file", @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PhotoFile, "", new { @class = "text-danger" })
                    </div>
                </div>


                <div class="form-group">
                    @Html.LabelFor(model => model.IsDefault, General.DefaultImage, htmlAttributes: new { @class = "control-label col-md-3 pull-right" })
                    <div class="col-md-9">
                        <div class="checkbox">
                            @Html.CheckBox("IsDefault", Model.IsDefault.GetValueOrDefault())
                            @Html.ValidationMessageFor(model => model.IsDefault, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>


                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="@General.Add" class="btn btn-success btn-group-lg" />
                    </div>
                </div>
            </div>
        }

    </div>
</div>

