
@{
    ViewBag.Title = General.PageTitle + " - " + Messages.ForgetPasswordTitle;
    Layout = "~/Views/Home/_Layout.cshtml";
}


<div class="inner-banner">
    <!-- banner start  -->
    <span class="full-size-img" style="background:url(../../../Content/_ui/img/media/slide-6.jpg) no-repeat center top / cover"></span>
    <!-- // banner end -->
    <div class="block-title">
        <div class="container">
            <h1>@Messages.ForgetPasswordTitle</h1>
        </div>
    </div>
</div>
<div class="content">
    <div class="container">
        <div class="col-md-3"></div>
        <div class="col-md-6 col-sm-6">
            @using (Html.BeginForm("ForgotPasswordConfirmation", "Account", FormMethod.Get))
            {
                @Html.Hidden("id", ViewBag.ID as string)
                <div class="">
                    <div class="login-form">
                        <div class="col-md-12 col-sm-12">
                            <div class="form-group">
                                @Html.Partial("_Notifications")
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">

                                <label>@Messages.ForgetPasswordTitle<i class="fa fa-angle-double-left" aria-hidden="true"></i></label>
                                @*</div>
                                    <div class="col-md-6 text-center">*@
                                @Html.TextBox("Code", ViewBag.Code as string, htmlAttributes: new {@class = "form-control"})

                            </div>

                            <div class="col-md-6">
                                <input type="submit" style="font-size: 18px;" class="btn btn-02 fs-18" value="@Messages.ForgetPasswordRecover"/>
                            </div>

                            <div class="col-sm-6 text-left">
                                <a style="font-size: 18px;" href='@Url.Action("ForgotPasswordConfirmation", new {id = ViewBag.ID, isResend = true})' class="btn btn-03 fs-18">
                                    <strong>
                                        <i class="fa fa-repeat"></i>
                                        @General.ResendCode
                                    </strong>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


