@model BrokerMVC.Models.RealEstateTypeCriteria

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>RealEstateTypeCriteria</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValueType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValueType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RealEstateType.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RealEstateType.Title)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
