@model BrokerMVC.Models.Advertisement

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Advertisement</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.URL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.URL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContentSide)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContentSide)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomePageSide)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomePageSide)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomePageMainLarge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomePageMainLarge)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HomePageMainSmall)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HomePageMainSmall)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
