@model IEnumerable<BrokerMVC.Models.RealEstateProjectModel>
@if (Model.Count() > 0)
{
    <div class="block project-info-wrapper">
        <div class="col-sm-12">
            <div class="notes-block" itemscope itemtype="http://schema.org/ItemList">
                <div class="col-sm-12">
                    <div class="col-md-8 col-sm-7">
                        <h3>@General.Models</h3>
                    </div>
                    <div class="col-md-4 col-sm-5">
                        <a href="~/@Menu.Projects.GetValue()/@ViewBag.ID/@Commons.EncodeText(ViewBag.Name)/Models" class="btn btn-theme btn-back">@General.More <i class="fa fa-chevron-left" aria-hidden="true"></i></a>
                    </div>
                </div>
                @foreach (var item in Model)
                {
                    <div class="col-md-6 col-sm-6">
                        <div class="thumbnail no-border no-padding thumbnail-property thumbnail-project-unit">
                            <div class="media">
                                <a itemprop="url" class="media-link" href="~/@Menu.Projects.GetValue()/@ViewBag.ID/@Commons.EncodeText(ViewBag.Name)/Models/@item.ID">
                                    <img itemprop="image" src="@Url.Content(item.PlanImgURL)" alt="@item.Title - @item.EnTitle">
                                    <span class="icon-view"><strong><i class="fa fa-arrows-alt"></i></strong></span>
                                </a>
                            </div>
                            <div class="caption text-center">
                                @*<h4 class="caption-title"><a href="project-unit-details.html">@(Commons.Culture.Contains("ar") ? item.RealEstateType.Title : item.RealEstateType.EnTitle)</a></h4>*@
                                @*<p itemprop="name" class="caption-text">
                                    @(Commons.Culture.Contains("ar") ? Commons.EncodeText(item.Title) : Commons.EncodeText(item.EnTitle))
                                </p>
                                <div class="buttons">

                                </div>*@
                                <span itemprop="name" class="p-price bottom-price">
                                    <a class="btn btn-theme" href="~/@Menu.Projects.GetValue()/@ViewBag.ID/@Commons.EncodeText(ViewBag.Name)/Models/@item.ID">
                                        @(Commons.Culture.Contains("ar") ? Commons.EncodeText(item.Title) : Commons.EncodeText(item.EnTitle))
                                    </a>
                                </span>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}


