
@{
    ViewBag.Title = General.PageTitle + " - " + Messages.PendingAccount;
    Layout = "~/Views/Home/_Layout.cshtml";
}


<div class="inner-banner">
    <!-- banner start  -->
    <span class="full-size-img" style="background:url(../../../Content/_ui/img/media/slide-6.jpg) no-repeat center top / cover"></span>
    <!-- // banner end -->
    <div class="block-title">
        <div class="container">
            <h1>@General.Activate</h1>
        </div>
    </div>
</div>
<div class="content">
    <div class="container">
        <div class="col-md-3"></div>
        <div class="col-md-6 col-sm-6">
            @using (Html.BeginForm("Pending", "Activation", FormMethod.Get))
            {
                @Html.Hidden("id", ViewBag.ID as string)
                <div class="">
                    <div class="login-form">
                        <div class="col-md-12">
                            <div class="form-group">

                                <h4>@Messages.PendingUserMsg</h4>
                            @*</div>
                            <div class="col-md-6 text-center">*@
                                @Html.TextBox("Code", ViewBag.Code as string, htmlAttributes: new { @class = "form-control" })

                            </div>

                            <div class="col-md-6">
                                <input type="submit" style="font-size: 18px;" class="btn btn-03 fs-18" value="@General.Activate" />
                            </div>
                         
                            <div class="col-sm-6 text-left">
                                <a style="font-size: 18px;" href='@Url.Action("Resend", new { id=ViewBag.ID})' class="btn btn-02 fs-18">
                                    <strong>
                                        <i class="fa fa-repeat"></i>
                                        @General.ResendCode
                                    </strong>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
            </div>
        </div>
    </div>


