@model IEnumerable<BrokerMVC.Models.RealEstatePurchaseRequest>
@if (Model.Count() > 0)
            {
    <div class="col-md-12">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <div class="panel-title paneltitle" role="button" data-toggle="collapse" href="#divCompanyRequests" aria-expanded="false" aria-controls="divRequests">
                    <h4 class="col-md-11 pull-right">
                        <i class="fa fa-angle-down"></i>
                        <i class="fa fa-shopping-cart"></i>
                        @*<span class="fa-stack ">
                                <i class="fa fa-square-o fa-stack-2x"></i>

                            </span>*@
                        @General.PurchaseRequests
                    </h4>
                </div>
            </div>
            <div id="divCompanyRequests" class="panel panel-body collapse in">
                <div class="row">
                    <div class="col-md-6 pull-right">
                        <span><strong>@General.PurchaseRequestNos</strong></span>
                    </div>
                    <div class="col-md-pull-4 pull-right">
                        <strong class="label label-danger"> @ViewBag.RequestsNo</strong>
                    </div>
                </div>
                <div class="row">
                    <table class="table table-responsive table-bordered table-striped table-hover">
                        <tr class="success">
                            <th class="text-center">
                                @General.RealEstate
                            </th>
                            <th class="text-center">
                                @General.RealEstate
                            </th>
                            <th class="text-center">@General.View</th>
                        </tr>

                        @foreach (var item in Model)
                {
                            <tr>
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => item.RealEstate.Title)
                                </td>
                                <td class="text-center">
                                    @Html.DisplayFor(modelItem => item.RealEstate.Subscriber.FullName)
                                </td>
                                <td class="text-center">
                                    <a href="javascript(void)" onclick="ViewPurchaseRequest(@item.ID)" data-target="#divModal" data-toggle="modal" class="btn btn-sm btn-small">
                                        <i class="fa fa-folder-open"></i>
                                    </a>
                                </td>
                            </tr>


                        }
                        @if (ViewBag.NotificationsNo > 5)
                {
                            <tfoot>
                                <tr>
                                    <td colspan="2">
                                        <a href="@Url.Action("Index", "RealEstatePurchaseRequests")" class="btn btn-block btn-success">@General.More</a>
                                    </td>
                                </tr>
                            </tfoot>
                        }
                    </table>
                </div>

            </div>
        </div>
    </div>
}

